  :root {
    background-color: #e8e8e8;
    color: rgba(20, 20, 20, 0.87);
    color-scheme: light;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-weight: 600;
    font-size: large;
    font-synthesis: none;
    line-height: 1.5;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  #app {
    display: flex;
    flex-wrap: nowrap;
    margin: none;
    max-width: 100vw;
    padding: none;
  }

  #app *{
    box-sizing: border-box;
  }
  
  a {
    color: #646cff;
    font-weight: 500;
    text-decoration: inherit;
  }

  a:hover {
    color: #535bf2;
  }
  
  body {
    display: block;
    flex-grow: 1;
    margin: 0;
    place-items: left;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  table {
    border-collapse: collapse;
  }

  table, th, td {
    table-layout : fixed;
    border: 1px solid;
  }

  ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  li{
    list-style-type: disc;
    margin-left: 20px;
  }

  svg{
    margin: 0 auto;
  }

  .page {
    display: flex;
    flex-wrap: nowrap;
    margin: none;
    padding: none;
  }
   
  .body-text {
    color: #3d3d3d;
  }

  /* Left hand menu where the user can click to switch to the content parts*/
  .menu{
    background-color: rgb(65, 71, 115);
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
    position: fixed;
    width: 350px;
  }

  .menu-content{
    display: flex;
    flex-direction: column;
  }

  .menu-title{
    align-items: center; 
    display: flex; /* Enables flexbox layout */
    margin-left: 5px;
    margin-top: 10px;
    padding-left: 10px;
    justify-content: space-between;
  }

  .menu-title:hover {
    background-color:#FFFFFF;
    color: rgb(65, 71, 115);
  }

   /* Middle main content where the information lives*/
  .content{
    display: flex;
    margin-left: 350px;
    padding-left: 20px;
    width: 100%;
  }

  .content-main{
    padding: 0 10px 30px 0;
    width: 70%;
  }

  .main-title{
    color: rgb(65, 71, 115);
    margin: 20px 0 8px 0;
  }

  .main-sub-title{
    color: rgb(36, 39, 64);
    font-size: 20px;
    margin-bottom: 5px;
  }

  .main-li{
    list-style: initial;
    margin: 0 0 0 20px;
  }

  .main-table{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  tr:first-child{
    background-color: rgb(65, 71, 115);
    color: #FFFFFF;
  }

   /* right hand nav where you can select to jump across a sections content*/
  .content-nav{
    position: fixed;
    right: 0;
    width: calc((100% - 350px) * 0.3 - 20px);
  }

  .navigation-title{
    color: rgb(65, 71, 115);
    height: 70px;
    line-height: 60px;
    margin: 20px 0 8px 0;
  }
  
  .navigation-sub-title{
    color: rgb(65, 71, 115);
    font-weight: 700;
    margin: 0 20px 0 0;
    padding: none;
  }

  .navigation-sub-title:hover{
    background-color:#FFFFFF;
  }
  
